<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>Formulaire POST</h1>
    <p>ajouter client</p>

    <div class="formulaire">
      <form class="form" action="/ajouter_client" method="post">
        <label for="nom">Nom</label> :
        <input type="text" name="nom" value="">
        <label for="prenom">Prénom</label> :
        <input type="text" name="prenom" value="">
        <input type="submit" name="" value="Envoyer">
      </form>
    </div>

    <h1>Formulaire POST</h1>
    <p>supprimer client</p>

    <div class="formulaire">
      <form class="form" action="/supprimer_client" method="post">
        <label for="nom">Nom</label> :
        <input type="text" name="nom" value="">
        <label for="prenom">Prénom</label> :
        <input type="text" name="prenom" value="">
        <input type="submit" name="" value="Envoyer">
      </form>
    </div>

    <h1>Reservation :</h1>
    <div>
      <form class="form" action="/reserver" method="post">
      <table>
        <tr>
          <td>
            id_client
          </td>
          <td>
            nom
          </td>
           <td>
            prenom
          </td>
        </tr>
        {% for id_client, nom, prenom in clients %}
          <tr>
            <td>
              <input type="radio" id="id_client" name="id_client" value="id_client">
              <label for="id_client">{{id_client}}</label>:
              <select name="id_client" id="id_client">
                  <label for="id_client">{{id_client}}</label>:
                  <option value="">--Please choose an option--</option>
                  <option value="id_client">{{id_client}}</option>
                  <option value="cat">Cat</option>
                  <option value="hamster">Hamster</option>
                  <option value="parrot">Parrot</option>
                  <option value="spider">Spider</option>
                  <option value="goldfish">Goldfish</option>
              </select>
          </td>
          <td>
            {{nom}}
          </td>
           <td>
            {{prenom}}
          </td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div>
      <table>
        <tr>
          <td>
            numero chambre
          </td>
           <td>
            capacité
          </td>
        </tr>
        {% for id_chambre, capacite in chambres %}
          <tr>
            <td>
              <input type="radio" id="id_chambre" name="id_chambre" value="id_chambre">
              <label for="id_chambre">{{id_chambre}}</label>:
          </td>
          <td>
            {{id_chambre}}
          </td>
           <td>
            {{capacite}}
          </td>
          </tr>
        {% endfor %}
      </table>



      <label for="id_client">{{id_client}}</label>
      <input type="submit" name="id_client" value="Valider">
      </form>

    </div>
    <p>{{ liste }}</p>

  </body>
</html>
